.abtMain{
    position: relative;
    top: 4rem;
    border:1px solid red;
    /* background-color: red; */
    width:100% ;
    margin:"2rem";
    z-index: -2;
}
.abtContainer{
    border:1px solid blue;
    width: 80%;
    /* height: 20%; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.abtcard{
    border:1px solid black;
    width: 50%;
    margin: auto;
}

.abtRight{
   text-align: left;
}

.abtRight >span{
    font-size: 2rem;
    font-weight: 700;
    }

    .smallBox{
        background-color: red;
        width: 20px;
        height: 20px;
    }

    .boxContainer{
        display: grid;
        grid-template-columns: repeat(1fr);
        
        width: 1fr;
        margin: 3rem;
        align-items: center;
        /* justify-content: center; */
    }

    
    .diamond {
        
        border-radius: 10%;
        right:0;
        width: 80%;
        margin: auto;
        /* background: linear-gradient(to bottom right, rgb(226, 198, 226),rgb(196, 217, 217)); */
        /* transform: rotate(20deg); */
        /* background-image: linear-gradient(to bottom right, purple,cyan); */
        /* border: 3px solid rgb(240, 8, 240); */
        z-index: 100;
        border: 6px solid rgba(8, 99, 247, 0.468);
        padding: 0.5rem;
        box-shadow: 2rem 2rem hwb(255 57% 10% / 0.548);
        /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
      } 
      .writer{
        display: flex;
      }
    .diamond >img{
   width: 100%;
   border-radius: 10%;
   z-index: -10;
    }
@media screen and (min-width: 414px) and (max-width: 768px) {
    
    .abtcard{
        width: 100%;
        margin: auto;
    }
    .abtRight{
        text-align: center;
    }
  }